@page
@model ApiServerLibraryTest.Pages.LoginModel

@if(!User.Identity!.IsAuthenticated)
{
    @if (!string.IsNullOrEmpty(Model.AppName))
    {
        <p>@Model.AppName wants to access your info.</p>
        @foreach(string scope in Model.Scopes!)
        {
            <p>@scope</p>
        }
        <p>Log In to authorize the app.</p>
    }

    <form method="post">
        <div>
            <label>Username</label>
            <input type="text" asp-for="@Model.Username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" asp-for="@Model.Password" />
        </div>
        <input type="hidden" asp-for="@Model.ClientId" />
        <input type="hidden" asp-for="@Model.AppName" />
        @for(int i = 0; i < Model.Scopes!.Count; i++)
        {
            <input type="hidden" asp-for="@Model.Scopes[i]" />
        }
        <button type="submit">Log In</button>
        <p>@ViewData["ErrorMessage"]</p>
    </form>
}
else
{

}
